@import "tailwindcss";

:root {
  /* primary */
  --primary: hsl(172, 67%, 45%);

  /* neutral */
  --main-bg: hsl(183, 100%, 15%);
  --sub-color: hsl(186, 14%, 43%);
  --body-bg: hsl(185, 41%, 84%);
  --light-bg: hsl(184, 14%, 56%);
  --box-bg: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    font-family: "Space Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: clamp(0.8em, 0.4em + 4vw, 3em);
    background: var(--body-bg);
  }
  input {
    font-size: 1.4rem;
  }

  li {
    min-height: 2.5rem;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
    -webkit-appearance: none;
  }

  input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
  }
}
@layer components {
  .box {
    background-color: var(--white);
    border-radius: 2rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: fit-content;
  }

  .input {
    background-color: var(--box-bg);
    color: var(--main-bg);
    outline: none;
    text-align: right;
    width: 100%;
    flex-direction: row-reverse;
    padding-right: 1rem;
  }

  .main {
    font-size: 1.3rem;
    background-color: var(--main-bg);
    color: var(--white);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: var(--main-bg);
    }
  }

  .label {
    font-size: 0.9rem;
    color: var(--sub-color);
  }
}
